h1 {
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(93, 91, 91);
    width: 90vw;
    position: relative;
    text-align: center;
    display: block;
    justify-content: space-around;

}


.galery::after {
    content: "";
    display: block;
    width: 35%;
    height: 4px;
    border-radius: 20px;
    position: absolute;
    background-color: rgb(93, 91, 91);
    top: 56%;
    left: 65%;
    right: 0;
    z-index: 1;
}

.galery::before {
    content: "";
    display: block;
    width: 35%;
    height: 4px;
    border-radius: 20px;
    position: absolute;
    background-color: rgb(93, 91, 91);
    top: 56%;

    z-index: 1;
}


.subTittle {
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(93, 91, 91);
}

.contenedor {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
}

.contPhoto {
    /* background-color: hsl(201, 78%, 82%); */
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* row-gap: 10px; */
    flex-wrap: wrap;
}

.photo {
    width: 100%;
    flex: 25%;
    padding: 10px;
}

@media (max-width: 1300px) {
    .galery::after {
        visibility: hidden;
    }

    .galery::before {
        visibility: hidden;
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        width: 100%;
    }

    h3 {
        margin-left: 0;
    }

    .contenedor {
        margin-left: 0;
        margin-right: 0;
    }

    .image {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .photo {
        flex: 100%;
    }

    .contPhoto {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }
}