/* .contenedor {} */

/* .img {
    width: 100%;
    max-height: 90%;

} */
.contenedor {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px;
}



.contacts::after {
    content: "";
    display: flex;
    width: 33%;
    height: 4px;
    border-radius: 20px;
    position: absolute;
    background-color: rgb(93, 91, 91);
    top: 56%;
    left: 64%;
    right: 0;
    margin-left: 60px;
    margin-right: auto;
    z-index: 1;

}

.contacts::before {
    content: "";
    display: flex;
    width: 33%;
    height: 4px;
    border-radius: 20px;
    position: absolute;
    background-color: rgb(93, 91, 91);
    top: 56%;
    right: 68%;
    z-index: 1;
}

.text {
    font-size: 40px;
    margin: 15px;
}

.me {
    font-size: 50px;
}

.about {
    /* background-color: hsl(201, 66%, 61%); */
    display: flex;
    /* margin-left: 40px;
    margin-right: 40px; */
    border-radius: 8px;
    margin-top: 10px;
    /* row-gap: 10px; */
    flex-wrap: wrap;
}

.img {
    border-radius: 4px;
    /* width: auto;
    height: 10%; */
    max-width: 100%;
    /* Ajusta el ancho máximo según tu preferencia */
    max-height: 10%;
    /* Ajusta la altura máxima según tu preferencia */
    width: auto;
    height: auto;
}

.cont {
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: fit-content;
}

.info {
    /* margin-left: 40px;
    margin-right: 40px; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: aliceblue; */
    padding: 20px;
    color: rgb(71, 71, 71);
    border-radius: 10px;
}

.continfo {
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
}

.overlay {
    position: absolute;
    /* top: 200px; */
    /* left: 20px; */
    /* z-index: 999; */
    color: rgb(254, 254, 254);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* background-color: hsla(0, 0%, 40%, 0.552); */
    height: fit-content;
    border-radius: 4px;
}

.overlayContainer {
    position: relative;
    bottom: 100px;
    /* left: 50px; */
    padding-left: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    top: 0%;
}