.contenedor {
    object-fit: contain;
    position: relative;
    display: inline-block;
}

.vans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}



.img {
    width: 35%;
    height: auto;
}

.subTittle {
    color: rgb(93, 91, 91);
    width: 100%;
    display: flex;
    justify-content: center;
}

.texto {
    color: black;
    font-size: 69px;
}