.items {
    background-color: #55A8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5em;
    padding: 10px;
}

.logo {
    width: auto;
    height: 6em;
    justify-content: flex-end;
}

p {
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    padding: 20px;
    transition: color 0.3s ease;
}

p:hover {
    color: black;
    border-bottom: solid 2px black;
}

a.active {
    color: rgb(190, 46, 46);
}

a {
    text-decoration: none;
    height: fit-content;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.fotos {
    background-color: aliceblue;
}

@media (max-width: 768px) {

    .items {
        background-color: hsl(201, 75%, 45%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5em;
        padding: 10px;
    }

    .logo {
        width: auto;
        height: 70px;
        justify-content: flex-start;
        padding-left: 20px;

    }

    p {
        font-size: 18px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: antiquewhite;
        justify-content: center;
        padding: 10px;
        transition: color 0.3s ease;
    }

    p:hover {
        color: black;
    }

    a {
        text-decoration: none;
    }

    .links {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    .fotos {
        background-color: aliceblue;
    }
}